@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.max-w-\[1024px\] {
  max-width: 1280px;
}

.mj-container {
  max-width: 1280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.mj-header-underline::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -18px;
  background-color: #078080;
  border-radius: 1.5px;
}

.mj-select {
  position: relative;
  height: 56px;
}

.mj-select label {
  position: absolute;
  top: 6px;
  left: 12px;
  font-size: 0.75rem;
  color: #525257;
}

.mj-select select {
  height: 56px;
  font-size: 14px;
  width: 100%;
  padding: 24px 10px 8px 10px;
  border: 2px solid #E4E4E7;
  border-radius: 10px;
}

.mj-select select:focus {
  border: 2px solid #333;
}